{% extends "main.html" %}

{% block header %}{% endblock %}
<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>

/* Application header should be static for the landing page */
    .md-header {
        position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
        margin: 0;
    }

    /* Hide main content for now */
    .md-content {
        display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
            display: none;
        }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none;
        }
    }
</style>

{% include "partials/home_header.html" %}
<!-- Hero for landing page -->
<section id="nocalhost" class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero content -->
            {% include "partials/content_1_zh.html" %}
            {% include "partials/content_2_zh.html" %}
            {% include "partials/content_3_zh.html" %}
            {% include "partials/content_4_zh.html" %}
        </div>
    </div>
</section>
{% include "partials/home_footer.html" %}
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}

