#nocalhost {
	.tx-hero_content {
		padding: 120px 20px 160px 20px;
		position: relative;

		.h2 {
			display: flex;
			justify-content: center;
		}
	}

    h2 {
        margin-top: 0;
        margin-bottom: 130px;
        position: relative;
        z-index: 2;
		font-size: 48px;
		text-align: center;
		font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
		color: #ffffff;

        &:before {
            position: absolute;
            display: block;
            height: 86px;
            width: 86px;
            border-radius: 86px;
            content: '';
            background-color: #ed58ed;
            z-index: -1;
            top: -20px;
			left: -38px;
        }

		@media (max-width: 420px) {
			font-size: 36px;
			margin-bottom: 20px;
		}
    }

	.tx-hero_content_1 {
		position: relative;
		width: 100%;
		z-index: 2;
		height: 680px;


		h1 {
			font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
			color: #fff;
			font-size: 90px;
			text-align: center;
			margin-top: 1em;
			margin-bottom: 0.3em;

			@media (max-width: 700px) {
				margin-top: 0;
			}

			@media (max-width: 420px) {
				font-size: 60px;
			}
		}

		p {
			color: #fff;
			font-size: 20px;
			text-align: center;

			@media (max-width: 420px) {
				line-height: 40px;
			}
		}

		.tx-hero__content_btns {
			text-align: center;

			a {
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}

		strong {
			position: relative;
			&::before {
				content: '';
				background-image: url("/assets/images/home/nocalhost-affix.svg");
				width: 60px;
				height:12px;
				position: absolute;
				bottom: -12px;
			}
		}
	}

	.tx-hero_content_2 {
		position: relative;
		z-index: 2;
		width: 100%;
		.groups {
			display: flex;
			justify-content: center;
            flex-wrap: wrap;
		}
		section {
            min-width: 460px;
			max-width: 593px;
			padding: 40px;
			padding-bottom: 80px;
			background-color: #0078f9;
			border-radius: 4px;
			box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
			margin: 7px;
            strong, .title {
                font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
            }
		}
		.se2 {
			background-color: #0f2b34;
		}
		.se3 {
			background-color: #ffffff;
			h3 {
				color: #0b0f13;
			}
			h4 {
				color: #0b0f13;
			}
			p {
				color: #0b0f13;
			}
			strong {
				color: #0b0f13;
			}
		}
		strong {
			color: #fff;
			font-size: 20px;
		}
		.title {
			display: flex;
			margin-bottom: 14px;
			align-items: baseline;
            flex-wrap: wrap;
		}
		h3 {
			color: #fff;
			font-size: 42px;
			margin: 0;
			margin-right: 10px;
            // float: left;
		}
		h4 {
			color: #fff;
			font-size: 24px;
			margin: 0;
			line-height: 63px;
			white-space: nowrap;
            // float: left;
		}
		p {
			color: #fff;
			font-size: 14px;
		}
		.icon {
			display: flex;
			justify-content: center;
			img {
				width: 300px!important;
				height: 300px!important;
			}
		}
	}
	.tx-hero_content_3 {
		background-image: linear-gradient(-180deg, #2d0777 0%, #200847 57%, #160823 100%);

        .content {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            max-width: 1400px;
            margin: 0 auto;
        }

        .arrow {
            display: flex;
            @media (max-width: 1100px) {
                display: none;
            }
        }

        section {
            width: 500px;
            @media (max-width: 1100px) {
                margin-top: 20px;
            }
            .title {
                font-size: 42px;
                color: rgba(255, 255, 255, 0.5);
                font-family: "nexa_light", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
                strong {
                    color: #ffffff;
                    font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
                }
            }
            p {
                font-size: 14px;
                color: #ffffff;
            }

            @media (max-width: 700px) {
                transform: scale(0.9);
            }

            .nocalhost-list {
                li::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-image: url("/assets/images/home/section3-smileface.svg");
                    display: inline-block;
                    margin-right: 10px;
                }
            }

            .localhost-list {
                li::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-image: url("/assets/images/home/section3-sadface.svg");
                    display: inline-block;
                    margin-right: 10px;
                }
            }

            ul {
                color: #ffffff;
                margin: 0;

                li {
                    list-style: none;
                    font-size: 14px;
                    margin: 0;
                    line-height: 22px;
                    display: flex;
                    margin-top: 10px;
                }
            }
        }
	}

	.tx-hero_content_4 {
		background-image: linear-gradient(-180deg, #e5fefe 0%, #ffffff 100%);
		padding-top: 120px;

		h2 {
			color: #0b0f13;
		}

        p {
            font-size: 18px;
            color: #0b0f13;
            text-align: center;
        }

        .table {
            display: flex;
            justify-content: center;
            overflow-x: auto;

            @media (max-width: 1200px) {
                justify-content: start;
            }

            img {
                min-width: 1200px;
            }
        }

        .bottom-banner {
			max-width: 1200px;
			margin: 0 auto;
			margin-top: 120px;
            font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
            h3 {
                font-size: 34px;
                color: #ffffff;
                margin: 0;
                margin-right: 150px;
				white-space: nowrap;
				position: relative;

				&::before {
					content: '';
					background-image: url('/assets/images/home/nocalhost-affix.svg');
					position: absolute;
					width: 60px;
					height: 12px;
					bottom: -2px;
					left: 282px;
				}
            }
            background-image: linear-gradient(-180deg, #0f2b34 0%, #000000 100%);
            border-radius: 20px;
            box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
            height: 260px;
            display: flex;
            justify-content: center;
            padding: 106px 214px;
            align-items: center;

			a {
				white-space: nowrap;
			}
            @media (max-width: 1200px) {
                padding: 100px 20px;
            }
            @media (max-width: 800px) {
                display: block;
                padding: 50px 20px;
                height: auto;

                .btn {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }
            }
        }
	}
}


#nocalhost-footer {
	height: 140px;
	border-top: 1px solid;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-image: linear-gradient(90deg, #ed58ed 25%, #6f38ff 50%, #1ee7e7 75%, #0080ff 100%) 1;

	.footer-content {
		display: flex;
		max-width: 1200px;
		justify-content: space-between;
		margin: 40px auto;
	}
    p {
        line-height: 60px;
        height: 60px;
        margin: 0;
    }
}
