#nocalhost {
  .tx-hero_content {
    padding: 140px 20px 160px 20px;
    position: relative;

    @media (max-width: 600px) {
      padding: 80px 10px 100px 10px;
    }

    .h2 {
      display: flex;
      justify-content: center;
      padding: 0 20px;
    }
  }

  h2 {
    margin-top: 0;
    z-index: 2;
    font-size: 48px;
    text-align: center;
    font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont,
      Helvetica, Arial, sans-serif;
    color: #ffffff;
    line-height: 1.2;

    @media (max-width: 600px) {
      font-size: 36px;
    }

    @media (max-width: 420px) {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .circle {
        position: relative;
        &:before {
          position: absolute;
          display: block;
          height: 86px;
          width: 86px;
          border-radius: 86px;
          content: "";
          background-color: #ed58ed;
          z-index: -1;
          top: -20px;
          left: -38px;

          @media (max-width: 600px) {
              width: 65px;
              height: 65px;
              border-radius: 65px;
              top: -15px;
              left: -28px;
          }
      }
    }
  }

  .tx-hero_content_1 {
    position: relative;
    width: 100%;
    z-index: 2;
    height: 680px;
    padding-right: 40px;
    padding-left: 40px;

    @media (max-width: 500px) {
      padding-right: 20px;
      padding-left: 20px;
    }


    @media (max-width: 600px) {
      padding-top: 140px;
    }

    @media (max-width: 420px) {
      padding-bottom: 60px;
    }

    .header-content {
      position: relative;
      z-index: 3;
      pointer-events: none;

      h1 {
        font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont,
        Helvetica, Arial, sans-serif;
        color: #fff;
        font-size: 80px;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 24px;
        
        @media (max-width: 1420px) {
          margin-top: 60px;
        }
        
        @media (max-width: 800px) {
          margin-top: 0;
        }
        
        @media (max-width: 420px) {
          font-size: 54px;
        }
      }
      
      p {
        color: #fff;
        font-size: 20px;
        text-align: center;
        
        @media (max-width: 500px) {
          font-size: 18px;
        }
      }
      
      .tx-hero__content_btns {
        text-align: center;
        margin-top: 96px;
        pointer-events: all;
        
        @media (max-width: 800px) {
          margin-top: 80px;
        }
        
        a {
          margin: 0 10px 10px;
          font-size: 16px;
          height: 48px;
          width: 160px;
          line-height: 48px;
          padding: 0;
          border: none;
          
          @media (max-width: 800px) {
            margin: 0 5px 10px;
            height: 56px;
            line-height: 56px;
          }
          
          @media (max-width: 420px) {
            width: 80%;
            margin-bottom: 20px;
          }
        }
      }
      
      strong {
        position: relative;
        
        @media (max-width: 760px) {
          color: #ED58ED;
        }
        
        &::before {
          content: "";
          background-image: url("/assets/images/home/nocalhost-affix.svg");
          width: 60px;
          height: 12px;
          position: absolute;
          bottom: -14px;
          
          @media (max-width: 760px) {
            content: none;
          }
        }
      }
    }

    .header-3d {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -30px;
      left: 0;
      display: flex;
      justify-content: center;

      @media (max-width: 1420px) {
        top: -50px;
      }

      @media (max-width: 800px) {
        top: -110px;
      }

      #canvas3d {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
        object-position: center;
        max-width: 1400px;
      }
    }
  }

  .tx-hero_content_2 {
    position: relative;
    z-index: 2;
    width: 100%;

    .h2 {
      h2 {
        margin-bottom: 100px;

        @media (max-width: 600px) {
          margin-bottom: 60px;
        }
      }
    }

    .cards-group-container {
      // Set card margin
      $cardMargin: 7px;

      display: flex;
      justify-content: center;
      width: calc(100% + #{$cardMargin} * 2);

      @media (max-width: 900px) {
        width: 100%;
      }

      .cards-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1214px;
        margin-left: calc(-#{$cardMargin} * 2);

        @media (max-width: 900px) {
          margin-left: auto;
        }

        section {
          padding: 40px 40px 80px;
          background-color: #0078f9;
          border-radius: 4px;
          box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
          margin: 7px;
          width: calc((100% - #{$cardMargin} * 4) / 2);

          @media (max-width: 900px) {
            width: 100%;
            padding: 20px 20px 60px;
            margin: 7px 0;
          }

          overflow: hidden;

          strong,
          .title {
            font-family: "nexa_bold", "Roboto", -apple-system,
              BlinkMacSystemFont, Helvetica, Arial, sans-serif;
          }
        }
        .se2 {
          background-color: #0f2b34;
        }
        .se3 {
          background-color: #ffffff;

          .title {
            p {
              color: #0b0f13;
            }
          }
          p.detail {
            color: #0b0f13;
          }
          strong {
            color: #0b0f13;
          }
        }
        strong {
          color: #fff;
          font-size: 20px;
        }
        .title {
          display: flex;
          align-items: baseline;
          margin-top: 4px;
          margin-bottom: 12px;

          p {
            color: #fff;
            font-size: 24px;
            margin: 0;
            line-height: 40px;

            @media (max-width: 600px) {
              font-size: 18px;
              line-height: 30px;
            }

            .topic {
              font-size: 42px;
              margin-right: 10px;

              @media (max-width: 600px) {
                font-size: 32px;
              }
            }
          }
        }
        p.detail {
          color: #fff;
          font-size: 14px;
          margin: 0;
          height: 120px;

          @media (max-width: 900px) {
            height: 100px;
          }

          @media (max-width: 600px) {
            font-size: 12px;
            line-height: 1.4;
            height: 80px;
          }
        }
        .icon {
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 300px;
          }
        }
      }
    }
  }
  .tx-hero_content_3 {
    background-image: linear-gradient(
      -180deg,
      #2d0777 0%,
      #200847 57%,
      #160823 100%
    );
    border-radius: 0 200px 0 0;

    @media (max-width: 1300px) {
      border-radius: 0 130px 0 0;
    }

    @media (max-width: 1200px) {
      border-radius: 0 80px 0 0;
    }
    
    @media (max-width: 1000px) {
      border-radius: 0 60px 0 0;
    }

    @media (max-width: 600px) {
      border-radius: 0;
    }

    .h2 {
      h2 {
        margin-bottom: 140px;

        @media (max-width: 1080px) {
          margin-bottom: 100px;
        }

        @media (max-width: 600px) {
          margin-bottom: 60px;
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;

      @media (max-width: 1080px) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .arrow {
        width: 110px;
        margin: 0 20px;
        background: url("/assets/images/home/section3-arrow.svg") no-repeat;
        background-position: right;
        background-size: 110px;

        @media (max-width: 1080px) {
          width: 60px;
          height: 60px;
          margin: 30px 0;
          transform: rotate(90deg);
        }
      }

      section {
        max-width: 500px;

        @media (max-width: 1080px) {
          max-width: 100%;
          padding: 0 100px;
        }

        @media (max-width: 880px) {
          padding: 0 50px;
        }

        @media (max-width: 700px) {
          padding: 0 20px;
        }

        @media (max-width: 700px) {
          padding: 0 10px;
        }

        .dev-mode-intro {
          
          .icon {
            margin-bottom: 26px;
            height: 120px;

            @media (max-width: 1080px) {
              margin-right: 40px;
              width: 100px;
              height: 100px;
              float: left;
            }

            @media (max-width: 700px) {
              margin-right: 30px;
              width: 80px;
              height: 80px;
            }

            @media (max-width: 500px) {
              float: none;
              width: 100px;
              height: 100px;
              margin-bottom: 10px;
            }
            
            image {
              height: 100%;
            }
          }
        }
          
        .title {
          font-size: 42px;
          color: rgba(255, 255, 255, 0.5);
          font-family: "nexa_light", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

          @media (max-width: 700px) {
            font-size: 32px;
          }

          @media (max-width: 500px) {
            font-size: 26px;
          }

          strong {
            color: #ffffff;
            margin-right: 4px;
            font-family: "nexa_bold", "Roboto", -apple-system,
              BlinkMacSystemFont, Helvetica, Arial, sans-serif;
            position: relative;

            @media (max-width: 700px) {
              margin-right: 4px;
            }

            &.badge::before {
              content: '';
              background-image: url("/assets/images/home/nocalhost-affix.svg");
              background-size: contain;
              position: absolute;
              width: 60px;
              height: 12px;
              bottom: -8px;
              left: 0;

              @media (max-width: 1080px) {
                content: none;
              }
            }
          }
        }
        p {
          font-size: 14px;
          color: #ffffff;
          height: 48px;

          @media (max-width: 1080px) {
            line-height: 1.5;
            margin-top: 0;
            height: auto;
          }
        }

        .dev-mode-content {
          margin-top: 36px;

          @media (max-width: 1080px) {
            margin-top: 30px;
            padding-left: 140px;
          }

          @media (max-width: 700px) {
            margin-top: 30px;
            padding-left: 0;
          }

          .show-image {
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 40px;
            
            &.localhost-show {
              border: 1px solid #084d8e;
            }
            
            &.nocalhost-show {
              border: 1px solid #1f7777;
            }
          }
          
          .nocalhost-list {
            li::before {
              content: "";
              min-width: 20px;
              width: 20px;
              height: 20px;
              background-image: url("/assets/images/home/section3-smileface.svg");
              display: inline-block;
              margin-right: 12px;
            }
          }
          
          .localhost-list {
            li::before {
              content: "";
              width: 20px;
              min-width: 20px;
              height: 20px;
              background-image: url("/assets/images/home/section3-sadface.svg");
              display: inline-block;
              margin-right: 12px;
            }
          }
          
          ul {
            color: #ffffff;
            margin: 0;
            
            li {
              list-style: none;
              font-size: 14px;
              margin: 0;
              line-height: 22px;
              display: flex;
              margin-top: 10px;
            }
          }
        }
        }
    }
  }

  .tx-hero_content_4 {
    background-image: linear-gradient(-180deg, #e5fefe 0%, #ffffff 100%);

    h2 {
      color: #0b0f13;
      margin-bottom: 28px;
    }

    p {
      font-size: 18px;
      color: #0b0f13;
      text-align: center;
      margin: 0 auto 100px;

      @media (max-width: 700px) {
        margin-bottom: 60px;
      }
    }

    .table {
      display: flex;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;

      @media (max-width: 1200px) {
        overflow-x: scroll;
        justify-content: start;
        padding-bottom: 16px;
      }

      img {
        min-width: 1200px;
        width: 1200px;
      }

      &::-webkit-scrollbar {
        height: 14px;
      }

      &::-webkit-scrollbar-track {
        background: #CAE4E4;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(#0B0F13, 0.5);
        border: 3px solid #CAE4E4;
        border-radius: 7px;
      }
    }

    .bottom-banner {
       max-width: 1200px;
       margin: 0 auto;
       margin-top: 120px;
       font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont,
       Helvetica, Arial, sans-serif;
       h3 {
           font-size: 34px;
           color: #ffffff;
           margin: 0;
           margin-right: 150px;
           white-space: nowrap;

           @media (max-width: 960px) {
            margin-right: 80px;
        }

           @media (max-width: 800px) {
               text-align: center;
               margin: 0;
           }
           @media (max-width: 460px) {
               font-size: 17px;
           }

           .sm-logo {
               position: relative;

               @media (max-width: 800px) {
                color: #ED58ED;
              }

               &::before {
                   content: "";
                   background-image: url("/assets/images/home/nocalhost-affix.svg");
                   background-size: contain;
                   position: absolute;
                   width: 60px;
                   height: 12px;
                   bottom: -10px;
                   left: 0;

                   @media (max-width: 800px) {
                     content: none;
                   }
               }
           }
       }
      background-image: linear-gradient(-180deg, #0f2b34 0%, #000000 100%);
      border-radius: 20px;
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
      height: 260px;
      display: flex;
      justify-content: center;
      padding: 106px 214px;
      align-items: center;

      a {
        white-space: nowrap;
      }
      @media (max-width: 1200px) {
        padding: 100px 20px;
      }
      @media (max-width: 800px) {
        display: block;
        padding: 50px 20px;
        height: auto;

        .btn {
          display: flex;
          justify-content: center;
          margin-top: 20px;
        }
      }
    }
  }
}

#nocalhost-footer {
  height: 140px;
  border-top: 1px solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-image: linear-gradient(
      90deg,
      #ed58ed 25%,
      #6f38ff 50%,
      #1ee7e7 75%,
      #0080ff 100%
    ) 1;

  .footer-content {
    display: flex;
    max-width: 1240px;
    justify-content: space-between;
    padding: 0 20px;
    margin: 40px auto;
    align-items: center;

    @media (max-width: 700px) {
      margin: 20px auto 0;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  p {
    line-height: 1;
    margin: 0;
    font-size: 13px;
    color: #0B0F13;

    @media (max-width: 700px) {
      margin-top: 10px;
    }

    @media (max-width: 500px) {
      font-size: 11px;
    }
  }
}
