#nocalhost {
  .md-grid {
    max-width: 100%;
  }

  .tx-hero {

    .tx-hero__header_bg {
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;

      .tx-hero__header_bg_container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 0;

        .tx-hero__header_bg_black {
          height: 1100px;
          width: calc(50% + 700px);
          min-width: 1660px;
          border-top: 0;
          border-right: 200px solid transparent;
          border-bottom: 621px solid transparent;
          border-left: 330px solid transparent;
          border-image-source: url(/assets/images/header-bg-black.svg);
          border-image-slice: 0 200 621 330 fill;
          border-image-repeat: stretch;
          position: relative;
          left: -130px;
          opacity: 0.8;
          
          // @media (min-width: 1400px) {
          @media (min-width: 1920px) {
            left: calc(350px - 25%);
          }
        }
        
        .tx-hero__header_bg_blue {
          height: 2660px;
          min-width: 1680px;
          border-top: 1272px solid transparent;
          border-right: 200px solid transparent;
          border-bottom: 373px solid transparent;
          border-left: 430px solid transparent;
          border-image-source: url(/assets/images/header-bg-blue.svg);
          border-image-slice: 1272 200 373 430 fill;
          border-image-repeat: stretch;
          position: relative;
          left: -60px;

          &::after {
            content: '';
            height: 2660px;
            width: 100vh;
            background: #444;
            position: absolute;
            top: -1272px;
            right: -1309px;
            background-image: linear-gradient(180deg, #174CD3 0%, #030E0E 68%, #7209FC 100%);
          }
        }

        .tx-hero__header_bg_lavender {
          width: 100%;
          height: 1400px;
          background-image: linear-gradient(180deg, #6F38FF 0%, #FFFFFF 100%);
        }

        .tx-hero__header_bg_white {
          width: 100%;
          border-top: 300px solid transparent;
          border-right: 1px solid transparent;
          border-bottom: 1640px solid transparent;
          border-left: 300px solid transparent;
          border-image-source: url(/assets/images/header-bg-white.svg);
          border-image-slice: 300 1 1640 300 fill;
          border-image-repeat: stretch;
          position: relative;
          top: 853px;
          opacity: 0.9;
          min-width: 1920px;
        }
      }

    }

    .tx-hero__content {
      position: relative;
      width: 100%;
      z-index: 2;
      height: 680px;

      h1 {
        color: #fff;
        font-size: 90px;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0.3em;
      }

      p {
        color: #fff;
        font-size: 20px;
        text-align: center;
      }

      .tx-hero__content_btns {
        text-align: center;
      }
    }
  }
}
