<div class="tx-hero_content tx-hero_content_3">
	<div class="h2">
        <h2><span class="circle">Nocalhost</span> is a new cloud-native development tool</h2>
	</div>
    <div class="content">
        <section>
            <div class="dev-mode-intro">
                <div class="icon"><img src="/assets/images/home/section3-localhost-icon.svg" alt=""></div>
                <div class="dev-mode-name">
                    <div class="title"><strong>Localhost</strong> Dev Mode</div>
                    <p>Everyone codes in an isolated way.</p>
                </div>
            </div>
            <div class="dev-mode-content">
                <div class="show-image localhost-show"><img src="/assets/images/home/section3-localhost-image.png" alt=""></div>
                <ul class="localhost-list">
                    <li>Hard to develop large applications with limited local resources</li>
                    <li>Difficult to setup and maintain the development environment</li>
                    <li>Difficult to debug jointly</li>
                    <li>Gap bewteen development environment and production envrionment</li>
                </ul>
            </div>
        </section>

        <div class="arrow"></div>

        <section>
            <div class="dev-mode-intro">
                <div class="icon"><img src="/assets/images/home/section3-nocalhost-icon.svg" alt=""></div>
                <div class="dev-mode-name">
                    <div class="title"><strong class="badge">Nocalhost</strong> Dev Mode</div>
                    <p>With Nocalhost DevMode, all services can run on the Cloud. DevMode supports connecting local IDE  and containers.</p>
                </div>
            </div>
            <div class="dev-mode-content">
                <div class="show-image nocalhost-show"><img src="/assets/images/home/section3-nocalhost-image.png" alt=""></div>
                <ul class="nocalhost-list">
                    <li>Easy to handle large application development with flexible cloud resources</li>
                    <li>Environment provisioning on demand</li>
                    <li>Easy to share the same development environment and conduct joint debugging</li>
                    <li>Close to production environment</li>
                </ul>
            </div>
        </section>
    </div>
</div>
