<div class="tx-hero_content tx-hero_content_3">
	<div class="h2">
        <h2><span class="circle">Nocalhost</span> 是一种新的云端开发方式</h2>
	</div>
    <div class="content">
        <section>
            <div class="dev-mode-intro">
                <div class="icon"><img src="/assets/images/home/section3-localhost-icon.svg" alt=""></div>
                <div class="dev-mode-name">
                    <div class="title"><strong>Localhost</strong> 开发模式</div>
                    <p>所有服务运行在本地，开发者之间的开发环境不互通。</p>
                </div>
            </div>
            <div class="dev-mode-content">
                <div class="show-image localhost-show"><img src="/assets/images/home/section3-localhost-image.png" alt=""></div>
                <ul class="localhost-list">
                    <li>受限于本地电脑性能，难以开发大型微服务应用</li>
                    <li>搭建和维护开发环境困难</li>
                    <li>联调繁琐</li>
                    <li>开发环境与生产环境差异较大</li>
                </ul>
            </div>
        </section>

        <div class="arrow"></div>

        <section>
            <div class="dev-mode-intro">
                <div class="icon"><img src="/assets/images/home/section3-nocalhost-icon.svg" alt=""></div>
                <div class="dev-mode-name">
                    <div class="title"><strong class="badge">Nocalhost</strong> 开发模式</div>
                    <p>在 Nocalhost 的加持下，云端微服务架构立即变身为开发者协作联调环境。</p>
                </div>
            </div>
            <div class="dev-mode-content">
                <div class="show-image nocalhost-show"><img src="/assets/images/home/section3-nocalhost-image.png" alt=""></div>
                <ul class="nocalhost-list">
                    <li>云端弹性资源可支撑大规模微服务应用开发和部署</li>
                    <li>开发环境可以动态按需准备</li>
                    <li>云端共享环境，方便联调开发</li>
                    <li>与生产环境差异很小</li>
                </ul>
            </div>
        </section>
    </div>
</div>
