<div class="tx-hero_content_4">
    <h2>Why Nocalhost?</h2>
    <p>Explore the difference between development locally and development on cloud.</p>
    <div class="table">
        <img src="/assets/images/home/section4-table.svg" alt="">
    </div>
    <div class="bottom-banner">
        <h3>Dev on cloud with Nocalhost</h3>
        <div>
          <a
            href="{{ 'getting-started/' | url }}"
            title="{{ 'Getting Started' | e }}"
            class="md-button md-button--primary"
          >
            Quick Start
          </a>
        </div>
    </div>
</div>
