<div class="tx-hero_content tx-hero_content_3">
	<div class="h2">
		<h2>Nocalhost is a new way of Cloud Development</h2>
	</div>
    <div class="content">
    <section>
        <div class="icon"><img src="/assets/images/home/section3-localhost-icon.svg" alt=""></div>
        <div class="title"><strong>Localhost</strong> Dev Mode</div>
        <p>With Localhost dev mode, developers have to run all services in DevMode locally. Everyone coding in isolated.</p>
        <div class="image"><img src="/assets/images/home/section3-localhost-image.png" alt=""></div>
        <ul class="localhost-list">
            <li>Limited by local resources, hard to develop large applications</li>
            <li>Difficult to setup and maintain the development environment</li>
            <li>Difficult in integrated debugging</li>
            <li>Lots of differences compared to production environment</li>
            <li>Limited by office network, can't work flexibly</li>
        </ul>
    </section>

    <div class="arrow">
        <img src="/assets/images/home/section3-arrow.svg" alt="">
    </div>
    <section>
        <div class="icon"><img src="/assets/images/home/section3-nocalhost-icon.svg" alt=""></div>
        <div class="title"><strong>Nocalhost</strong> Dev Mode</div>
        <p>With Nocalhost dev mode, all services run on cloud. Developers can switch services to DevMode and connect IDE to the service containers by sharing same environment.</p>
        <div class="image"><img src="/assets/images/home/section3-nocalhost-image.png" alt=""></div>
        <ul class="nocalhost-list">
            <li>Flexible cloud resources to easily handle large application development</li>
            <li>Dev and test environment provision on demand, convenient, cheap and fast</li>
            <li>Multi-developer shared space make debugging collaboration easy</li>
            <li>Almost same with production environment</li>
            <li>Coding anytime anywhere</li>
        </ul>
    </section>
    </div>
</div>
