<div class="tx-hero_content tx-hero_content_2">
	<div class="h2">
        <h2><span class="circle">Nocalhost</span> 是什么？</h2>
    </div>
    <div class="content-video-container">
        <video controls width="100%" poster="/assets/images/poster-zh.jpg" style="object-fit: cover;" >
            <source src="https://nocalhost-1301578102.cos.ap-nanjing.myqcloud.com/nh-overview-chn-20210714.mp4" type="video/mp4">
            <track src="/assets/video/nh-overview.chn.vtt" kind="subtitles" label="中文字幕" srclang="zh" default>
            <track src="/assets/video/nh-overview-eng.vtt" kind="subtitles" label="en text track" srclang="en">
            <p>Your browser doesn't support HTML5 video. Here is a <a href="https://nocalhost-1301578102.cos.ap-nanjing.myqcloud.com/nh-overview-chn-20210714.mp4">link to the video</a> instead.</p>
        </video>
    </div>
    <div class="cards-group-container">
        <div class="cards-group">
            <section>
                <strong>一个</strong>
                <div class="title"><p>连通云端和本地 IDE 的桥梁</p></div>
                <p class="detail">开发者可以便捷地在 IDE 中将代码变更快速部署到云端环境。</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-1.png" alt=""></div>
            </section>
            <section class="se2">
                <strong>一个</strong>
                <div class="title"><p>允许多个开发者共享的开发空间</p></div>
                <p class="detail">协作共享，自由无间，云端开发空间可共享或者独享。</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-2.png" alt=""></div>
            </section>
            <section class="se2">
                <strong>一个</strong>
                <div class="title"><p>Kubernetes 的面向开发的扩展包</p></div>
                <p class="detail">Nocalhost 搭配 Kubernetes 可以使得开发者更加便捷的开发基于 Kubernetes 的应用。</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-3.png" alt=""></div>
            </section>
            <section class="se3">
                <strong>一个</strong>
                <div class="title"><p>照亮微服务开发的聚光灯</p></div>
                <p class="detail">开发者可以在复杂的微服务框架下直接将指定微服务转换成开发模式，进行开发和调试。</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-4.png" alt=""></div>
            </section>
        </div>
    </div>
</div>
