<div class="tx-hero_content tx-hero_content_2">
	<div class="h2">
        <h2><span class="circle">What</span> is Nocalhost?</h2>
    </div>
    <div class="content-video-container">
        <video controls width="800">
            <source src="https://nocalhost-1301578102.cos.ap-nanjing.myqcloud.com/nh-overview-chn.mp4" type="video/mp4">
            <track src="/assets/video/nh-overview-chn.vtt">
        </video>
    </div>
    <div class="cards-group-container">
        <div class="cards-group">
            <section>
                <strong>It's a</strong>
                <div class="title"><p><span class="topic">Bridge</span>Between Cloud And IDE</p></div>
                <p class="detail">Smoothly, code changes can be transfered from IDE to cloud without commit, push or pull.</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-1.png" alt=""></div>
            </section>
            <section class="se2">
                <strong>It's a</strong>
                <div class="title"><p><span class="topic">Space</span>To Share Dev Environment</p></div>
                <p class="detail">Developers can share the same development environment and conduct joint debugging.</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-2.png" alt=""></div>
            </section>
            <section class="se2">
                <strong>It's an</strong>
                <div class="title"><p><span class="topic">Extension</span>Of Kubernetes</p></div>
                <p class="detail">Amazing enhancement of Kubernetes and Helm, developers code on Kubernetes with on friction.</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-3.png" alt=""></div>
            </section>
            <section class="se3">
                <strong>It's a</strong>
                <div class="title"><p><span class="topic">Spotlight</span>On Explore MicroServices</p></div>
                <p class="detail">By using Nocalhost, developers can focus on a certain service in the microservices, switch to development mode and debug easily.</p>
                <div class="icon"><img class="home-icon" src="/assets/images/home/section2-images-4.png" alt=""></div>
            </section>
        </div>
    </div>
</div>
