<div class="tx-hero_content_3">
    <h2>Nocalhost is a new way of Cloud Development</h2>
    <section>
        <div class="icon"><img src="https://via.placeholder.com/120" alt=""></div>
        <div class="title"><strong>Localhost</strong> Dev Mode</div>
        <p>With Localhost dev mode, developers have to run all services in DevMode locally. Everyone coding in isolated.</p>
        <div class="image"><img src="https://via.placeholder.com/400x500" alt=""></div>
        <ul>
            <li>Limited by local resources, hard to develop large applications</li>
            <li>Difficult to setup and maintain the development environment</li>
            <li>Difficult in integrated debugging</li>
            <li>Lots of differences compared to production environment</li>
            <li>Limited by office network, can't work flexibly</li>
        </ul>
    </section>

    <section>
        <div class="icon"><img src="https://via.placeholder.com/120" alt=""></div>
        <div class="title"><strong>Localhost</strong> Dev Mode</div>
        <p>With Localhost dev mode, developers have to run all services in DevMode locally. Everyone coding in isolated.</p>
        <div class="image"><img src="https://via.placeholder.com/400x500" alt=""></div>
        <ul>
            <li>Limited by local resources, hard to develop large applications</li>
            <li>Difficult to setup and maintain the development environment</li>
            <li>Difficult in integrated debugging</li>
            <li>Lots of differences compared to production environment</li>
            <li>Limited by office network, can't work flexibly</li>
        </ul>
    </section>
</div>
