<div class="tx-hero_content tx-hero_content_4">
	<div class="h2">
        <h2><span class="circle">为</span>什么要选 Nocalhost 模式？</h2>
	</div>
    <p>云端开发模式的优势。</p>
    <div class="table">
        <img src="/assets/images/home/section4-table.svg" alt="">
    </div>
    <div class="bottom-banner">
        <h3><span class="sm-logo">Nocalhost</span>，开发在云端</h3>
        <div class="btn">
          <a
            href="{{ '/zh/getting-started/' | url }}"
            title="{{ 'Getting Started' | e }}"
            class="md-button md-button--primary"
          >
            快速开始
          </a>
        </div>
    </div>
</div>
