<div class="tx-hero_content tx-hero_content_2">
	<div class="h2">
		<h2>What is Nocalhost?</h2>
	</div>
    <div class="groups">
    <section>
        <strong>It's like a</strong>
        <div class="title"><h3>Bridge</h3><h4>Between Cloud And IDE</h4></div>
        <p>Smoothly, code changes be transfered from IDE to cloud without commit, push or pull.</p>
        <div class="icon"><img src="/assets/images/home/section2-images-1.png" alt="" width="300" height="300"></div>
    </section>
    <section class="se2">
        <strong>It's like a</strong>
        <div class="title"><h3>Space</h3><h4>To Share Dev Environment</h4></div>
        <p>Developers can share the same development environment and conduct joint debugging.</p>
        <div class="icon"><img src="/assets/images/home/section2-images-2.png" alt="" width="300" height="300"></div>
    </section>
    </div>
    <div class="groups">
    <section class="se2">
        <strong>It's like a</strong>
        <div class="title"><h3>Extension</h3><h4>Of Kubernetes</h4></div>
        <p>Amazing enhancement of Kubernetes and Helm, developers codes on Kubernetes with on friction.</p>
        <div class="icon"><img src="/assets/images/home/section2-images-3.png" alt="" width="300" height="300"></div>
    </section>
    <section class="se3">
        <strong>It's like a</strong>
        <div class="title"><h3>Spotlight</h3><h4>To Explore MicroService</h4></div>
        <p>Bridge to Kubernetes extends the Kubernetes perimeter to your development computer allowing you to write, test, and debug microservice code while connected to your Kubernetes cluster with the rest of your application or services. </p>
        <div class="icon"><img src="/assets/images/home/section2-images-4.png" alt="" width="300" height="300"></div>
    </section>
    </div>
</div>
