<header id="home" class="md-header" data-md-component="header">

  <!-- Top-level navigation -->
  <nav class="md-header-nav md-grid" aria-label="{{ lang.t('header.title') }}">

    <!-- Link to home -->
    <a
      href="/zh/"
      title="{{ config.site_name | e }}"
      class="md-header-nav__button md-logo"
      aria-label="{{ config.site_name }}"
    >
      {% include "partials/logo.html" %}
    </a>

    <!-- Header title -->
    <div class="md-header-nav__title" data-md-component="header-title">
    </div>

    <!-- Button to open search dialogue -->
    {% if page and page.title != 'Nocalhost' and "search" in config["plugins"] %}
      <label class="md-header-nav__button md-icon" for="__search">
        {% include ".icons/material/magnify.svg" %}
      </label>

      <!-- Search interface -->
      {% include "partials/search.html" %}
    {% endif %}

    {% include "partials/tabs_zh.html" %}

    <!-- Repository containing source -->
    {% if config.repo_url %}
      <div class="md-header-nav__source">
        {% include "partials/source.html" %}
      </div>
    {% endif %}
  </nav>
</header>
