<style>
.md-tabs-block {
    height: 48px;
}
.md-tabs__list {
    display: flex;
}
.md-tabs__item a {
    line-height: 20px;
}
</style>

<div class="md-tabs-block">
    <ul class="md-tabs__list">
        <li class="md-tabs__item">
            <a href="/" class="md-tabs__link"> Home </a>
        </li>
        <li class="md-tabs__item">
            <a href="/getting-started/" class="md-tabs__link md-tabs__link"> Quick Start </a>
        </li>
        <li class="md-tabs__item">
            <a href="/zh/getting-started/" class="md-tabs__link"> 中文文档 </a>
        </li>
        <li class="md-tabs__item">
            <a href="https://github.com/nocalhost/nocalhost" target="_blank" class="md-tabs__link">
                <img style="margin-top: 2px" src="/assets/images/mark-github.svg" alt="repo" />
            </a>
        </li>
    </ul>
</div>
