<style>
.md-tabs-block {
    height: 48px;
}
.md-tabs__list {
    display: flex;
}
.md-tabs__item a {
    line-height: 20px;
}
@media screen and (max-width: 700px) {
	.sm-hide {
		display: none !important;
	}
}
</style>

<div class="md-tabs-block">
    <ul class="md-tabs__list">
        <li class="md-tabs__item sm-hide">
            <a href="/zh" class="md-tabs__link"> 首页 </a>
        </li>
        <li class="md-tabs__item sm-hide">
            <a href="/zh/getting-started" class="md-tabs__link md-tabs__link"> 快速开始 </a>
        </li>
        <li class="md-tabs__item sm-hide">
            <a href="https://github.com/nocalhost/nocalhost/blob/main/README_ZH.md#%E6%8B%9B%E8%81%98" class="md-tabs__link md-tabs__link" target="_blank"> 招聘 </a>
        </li>
        <li class="md-tabs__item">
            <a href="/" class="md-tabs__link"> English </a>
        </li>
        <li class="md-tabs__item sm-hide">
            <a href="https://github.com/nocalhost/nocalhost" target="_blank" class="md-tabs__link">
                <img src="/assets/images/mark-github.svg" alt="repo" class="github-icon"/>
            </a>
        </li>
        <li class="md-tabs__item sm-hide coding-entry">
            <a href="https://coding.net" target="_blank" class="md-tabs__link">
                <img src="/assets/images/mark-coding.svg" alt="repo" class="coding-icon"/>
                <p>Nocalhost 项目由 Coding.net 发起，点击访问</p>
            </a>
        </li>
    </ul>
</div>
