/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #0080FF;
    --ifm-color-primary-dark: #066cd3;
    --ifm-color-primary-darker: #0461be;
    --ifm-color-primary-darkest: #0355a7;
    --ifm-color-primary-light: #248ffa;
    --ifm-color-primary-lighter: #409af3;
    --ifm-color-primary-lightest: #5fabf7;
    --ifm-code-font-size: 95%;
  }
  
  .docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
  }
  
  /* header-github-link */
  .header-github-link:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
    content: "";
    display: flex;
    height: 24px;
    width: 24px;
  }
  
  html[data-theme=dark] .header-github-link:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  }
  
  /* Gobal common Styles */
  .img-margin {
    margin: 10px 0;
  } 
  
  /** Side Bar **/
  .menu > .menu__list >.menu__list-item {
    margin: 0.6em 0;
  }

  .menu > .menu__list >.menu__list-item > .menu__link--sublist {
    text-transform: uppercase;
  }
  
  a.menu__link--active,
  .menu__link--active:not(.menu__link--sublist) {
    background: none !important;
  }
  
  /** Image **/
  .img-frame {
    margin: 5px 0 20px 0;
    text-align: center;
  }

.img-frame > figcaption {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    line-height: 1.4;
    width: 100%;
}
  
.gif-img {
  border-radius: 10px;
}
  
  /** Code Block **/
.docusaurus-highlight-code-line {
  background-color: rgba(0,0,0,.1);
}

/** Video Section **/
.video-section {
}

/** Video Cards **/
.video-card {
    background-color: var(--ifm-card-background-color);
    border-radius: var(--ifm-card-border-radius);
    box-shadow: var(--ifm-global-shadow-lw);
    display: flex;
    flex-direction: column;
}

.card__body > p {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/** Tab **/
[role=tabpanel] {
  background-color: var(--ifm-color-lightest);
  padding: 1.3em 1.3em 0;
  margin: 0 0 1.8em!important;
  border: 1px solid #d2e8fd!important;
  border-radius: 0 0 5px 5px;
}

.margin-vert--md {
  margin-top: 0 !important;
}

.htlm[data-theme='dark'][role=tabpanel] {
  background-color: none;
}

/** Table Content **/
.table-of-contents__link {
  position: relative;
}

.table-of-contents__link--active:before {
    content: " ";
    background: var(--ifm-color-primary);
    position: absolute;
    left: -17px;
    top: -5px;
    bottom: -5px;
    width: 6px
}

ul ul .table-of-contents__link--active:before {
    left: -32px;
}

/** Paragraph **/
.markdown h2, .markdown h3 {
  margin-top: 2.2em;
  line-height: 1em;
}

.markdown h4 {
  text-transform: capitalize;
  font-size: 1.15em;
  margin-bottom: .6em;
}

/** Pass Tag **/
.pass-tag {
  text-transform: uppercase;
  color: #12c399;
}

/** Icon **/
.svg-icon {
  margin: 0 3px;
}