#nocalhost h2 {
  margin-top: 0;
  margin-bottom: 130px;
  position: relative;
  z-index: 2; }
  #nocalhost h2:before {
    position: absolute;
    display: block;
    height: 86px;
    width: 86px;
    border-radius: 86px;
    content: '';
    background-color: #ed58ed;
    z-index: 1;
    bottom: 0; }
#nocalhost .tx-hero_content_2 {
  padding-top: 120px;
  background-image: linear-gradient(#e6eff8, #ffffff);
  width: 100%; }
  #nocalhost .tx-hero_content_2 .groups {
    display: flex;
    justify-content: center; }
  #nocalhost .tx-hero_content_2 h2 {
    font-size: 48px;
    text-align: center;
    font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    color: #ffffff; }
  #nocalhost .tx-hero_content_2 section {
    width: 593px;
    padding: 40px;
    background-color: #0078f9;
    border-radius: 4px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 7px; }
    #nocalhost .tx-hero_content_2 section strong, #nocalhost .tx-hero_content_2 section .title {
      font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; }
  #nocalhost .tx-hero_content_2 .se2 {
    background-color: #0f2b34; }
  #nocalhost .tx-hero_content_2 .se3 {
    background-color: #ffffff; }
    #nocalhost .tx-hero_content_2 .se3 h3 {
      color: #0b0f13; }
    #nocalhost .tx-hero_content_2 .se3 h4 {
      color: #0b0f13; }
    #nocalhost .tx-hero_content_2 .se3 p {
      color: #0b0f13; }
    #nocalhost .tx-hero_content_2 .se3 strong {
      color: #0b0f13; }
  #nocalhost .tx-hero_content_2 strong {
    color: #fff;
    font-size: 20px; }
  #nocalhost .tx-hero_content_2 .title {
    display: flex;
    margin-bottom: 14px; }
  #nocalhost .tx-hero_content_2 h3 {
    color: #fff;
    font-size: 42px;
    margin: 0; }
  #nocalhost .tx-hero_content_2 h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    line-height: 63px;
    margin-left: 10px; }
  #nocalhost .tx-hero_content_2 p {
    color: #fff;
    font-size: 14px; }
  #nocalhost .tx-hero_content_2 .icon {
    display: flex;
    justify-content: center; }
#nocalhost .tx-hero_content_3 {
  background-image: linear-gradient(#2d0777, #200847, #160823);
  padding-top: 120px;
  padding-bottom: 160px; }
  #nocalhost .tx-hero_content_3 h2 {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; }
  #nocalhost .tx-hero_content_3 .content {
    display: flex;
    justify-content: space-evenly; }
  #nocalhost .tx-hero_content_3 .arrow {
    display: flex; }
  #nocalhost .tx-hero_content_3 section {
    width: 500px; }
    #nocalhost .tx-hero_content_3 section .title {
      font-size: 42px;
      color: rgba(255, 255, 255, 0.5);
      font-family: "nexa_light", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; }
      #nocalhost .tx-hero_content_3 section .title strong {
        color: #ffffff;
        font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; }
    #nocalhost .tx-hero_content_3 section p {
      font-size: 14px;
      color: #ffffff; }
    #nocalhost .tx-hero_content_3 section .nocalhost-list li::before {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url("/assets/images/home/section3-smileface.svg");
      display: inline-block;
      margin-right: 10px; }
    #nocalhost .tx-hero_content_3 section .localhost-list li::before {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url("/assets/images/home/section3-sadface.svg");
      display: inline-block;
      margin-right: 10px; }
    #nocalhost .tx-hero_content_3 section ul {
      color: #ffffff;
      margin: 0; }
      #nocalhost .tx-hero_content_3 section ul li {
        list-style: none;
        font-size: 14px;
        margin: 0;
        height: 22px;
        line-height: 22px;
        display: flex;
        margin-top: 10px; }
#nocalhost .tx-hero_content_4 {
  background-image: linear-gradient(#e5efef, #ffffff);
  padding-top: 120px; }
  #nocalhost .tx-hero_content_4 h2 {
    font-size: 48px;
    color: #0b0f13;
    text-align: center;
    font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; }
  #nocalhost .tx-hero_content_4 p {
    font-size: 18px;
    color: #0b0f13;
    text-align: center; }
  #nocalhost .tx-hero_content_4 .table {
    display: flex;
    justify-content: center; }
  #nocalhost .tx-hero_content_4 .bottom-banner {
    font-family: "nexa_bold", "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(#0f2b34, #000000);
    border-radius: 20px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    height: 260px;
    display: flex;
    justify-content: center;
    padding: 106px 214px;
    align-items: center; }
    #nocalhost .tx-hero_content_4 .bottom-banner h3 {
      font-size: 42px;
      color: #ffffff;
      margin: 0;
      margin-right: 180px; }

#nocalhost-footer {
  display: flex; }
  #nocalhost-footer p {
    line-height: 60px;
    height: 60px;
    margin: 0; }

/*# sourceMappingURL=home.css.map */
